{# purpose of this template: locations index view #}
{% extends routeArea == 'admin' ? 'MUYourCityModule::adminBase.html.twig' : 'MUYourCityModule::base.html.twig' %}
{% block title __('locations') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the location section of the Your city application.') }}</p>
{% endblock %}
