{# Purpose of this template: Display branches within an external context #}
{% for branch in items %}
    <h3>{{ branch|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_branch_display', {'id': branch.getId()}) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
