{# Purpose of this template: Display menus of location within an external context #}
{% for menuOfLocation in items %}
    <h3>{{ menuOfLocation|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_menuoflocation_display', { 'id': menuOfLocation.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
