{# Purpose of this template: Display specials of location within an external context #}
{% for specialOfLocation in items %}
    <h3>{{ specialOfLocation|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_specialoflocation_display', {  }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
