{# Purpose of this template: Display products within an external context #}
{% for product in items %}
    <h3>{{ product|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_product_display', { 'id': product.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
