{# Purpose of this template: Display locations within an external context #}
{% for location in items %}
    <h3>{{ location|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_location_display', { 'id': location.getId(), 'slug': location.slug }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
