{# Purpose of this template: Display dishes within an external context #}
{% for dish in items %}
    <h3>{{ dish|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_dish_display', {  }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
