{# Purpose of this template: Display events within an external context #}
{% for event in items %}
    <h3>{{ event|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_event_display', {  }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
