{# Purpose of this template: Display parts of menu within an external context #}
{% for partOfMenu in items %}
    <h3>{{ partOfMenu|muyourcitymodule_formattedTitle }}</h3>
    <p><a href="{{ path('muyourcitymodule_partofmenu_display', {'id': partOfMenu.getId()}) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
