{# Purpose of this template: Display images of part within an external context #}
{% for imageOfPart in items %}
    <h3>{{ imageOfPart.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('muyourcitymodule_imageofpart_display', { 'id': imageOfPart.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
