{# purpose of this template: inclusion template for display of related specials of location #}
{% set hasAdminPermission = hasPermission('MUYourCityModule:SpecialOfLocation:', '::', 'ACCESS_EDIT') %}
{% if nolink is not defined %}
    {% set nolink = false %}
{% endif %}
{% if items|default and items|length > 0 %}

<ul class="list-group">
{% for item in items %}
  <li class="list-group-item">{{ item.name }}</li>
{% endfor %}
</ul>
{% endif %}
