{# purpose of this template: offers index view #}
{% extends routeArea == 'admin' ? 'MUYourCityModule::adminBase.html.twig' : 'MUYourCityModule::base.html.twig' %}
{% block title __('offers') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the offer section of the Your city application.') }}</p>
{% endblock %}
