/* view pages */
div#z-maincontent.z-module-yourcity table tbody tr td {
    vertical-align: top;
}
.table-responsive > .fixed-columns {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

/* display pages */
.muyourcitymodule-display div.col-sm-3 h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.muyourcitymodule-display div.col-sm-3 p.managelink {
    margin-left: 18px;
}

div.muyourcitymodule-mapcontainer {
    height: 300px;
}


/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* edit pages */
div.muyourcitymodule-relation-leftside {
    float: left;
    width: 25%;
}

div.muyourcitymodule-relation-rightside {
    float: right;
    width: 65%;
}

/* hide legends if tabs are used as both contain the same labels */
div.yourcity-edit .tab-pane legend {
    display: none;
}

.tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

.tt-menu .tt-suggestion {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-color: #fff;
}
.tt-menu .empty-message {
    background-color: #fff;
}

div.muyourcitymodule-autocomplete .tt-menu .tt-suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/tab_right.png");
}
div.muyourcitymodule-autocomplete-with-image .tt-menu .tt-suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/agt_Multimedia.png");
}
.tt-menu .tt-suggestion img {
    max-width: 20px;
    max-height: 20px;
}

.tt-menu .tt-suggestion.tt-cursor {
    background-color: #ffb;
}

.tt-menu .empty-message {
    padding: 5px 10px;
    text-align: center;
}

.tt-menu .tt-suggestion .media-body {
    font-size: 10px;
    color: #888;
}
.tt-menu .tt-suggestion .media-body .media-heading {
    font-size: 12px;
    line-height: 1.2em;
}


/** fix dropdown visibility inside responsive tables */
div.muyourcitymodule-view .table-responsive {
    min-height: 300px;
}
div.muyourcitymodule-view form.muyourcitymodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.muyourcitymodule-view form.muyourcitymodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.muyourcitymodule-view form.muyourcitymodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.muyourcitymodule-view form.muyourcitymodule-quicknav fieldset label {
    margin-right: 5px;
}

div.muyourcitymodule-view form.muyourcitymodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

div.muyourcitymodule-view .avatar img {
    width: auto;
    max-height: 24px;
}


/*****************OWN**********************/

/****************TABS*********************/

.tab-pane {
	position: relative;
}

.z-module-muyourcitymodule h2 {
	font-size: 2em;
}

.list-group {
	margin: 10px 0;
}

/**********ABO**************/
.abonnement-edit {
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 250;
}

/***********BRANCH*************/

.branch-list {
	font-size: 1.4em;
}

/*********DISH*****************/

.dish-name {
	position: relative;
	float: left;
	clear: left;
	font-size: 1.4em;
	margin: 0 0 25px 0;
}

.dish-ingredients {
	position: absolute;
	top: -10px;
	right: -30px;
	font-size: 0.65em;
}

/*************EVENT***************/


.event-view-box {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	min-height: 160px;
}

.event-view-box-name {
	font-size: 2em;
}

.event-view-box-from {
	font-size: 1.5em;
	color: #ee0000;
}


/**********LOCATION***************/

.locationAgreement {
	color: #ff8040;
}

.locationClosed {
	color: #ff0000;
}

.locationOpen {
	color: #008a00;
}

.locationUnclear {
	color: #ee2299;
}

#location-logo {
	float: left;
	margin: 0 15px 0 0;
}

.location-h2 h2 {
	font-size: 2.2em;
	margin: 25px 0 0 0;
	border-bottom: #eee solid 1px;
}

.location-slogan-list {
	font-style: italic;
	font-weight: bolder;
}

#locationImage {
	float: right;
	margin: 0 25px 0 15px;
}

.location-tram {
    font-size: 1.5em;
}

.location-bus {
	font-size: 1.5em;
}

/**************MENU****************/

.menu-view-box {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
}

.menu-view-box-name {
	font-size: 2em;
}

.item-list {
	position: relative;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 10px 0 0 0;
}


.abo-location-list {
	position: relative;
	margin: 10px 0 0 0;
}

.item-list {
	list-style-type: none;
	/*font-size: 1.4em;*/
	min-height: 160px;
	margin: 0 0 10px 0;
}

.item-list .status-icon {
	font-size: 1.4em;
}

.abo-location-list > h2 {
	font-size: 1.5em;
	margin: 0 0 10px 0;
}

.status-icon {
	float: left;
	margin: 0 15px 0 0;
}

.abo {
	background: #efefef;
}

.dish {
}

.menu {

}

.product {
	background: #f8f8f8;
}

#branch-user-list {
	list-style-type: none;
}

/**************OFFER***************/

.offer-view-box {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0 0 15px 0;
	min-height: 220px;
}

.offer-list-title {
	font-size: 1.6em;
}

.offerPrice {
	color: #ff0000;
	font-size: 2em;
}

.normalPrice {
	text-decoration: line-through;
}

.percentOffer {
	font-size: 3em;
	color: #ff0000;
}

.percentOfferDisplay {
	font-size: 3em;
	color: #ff0000;
}

#imageOfOffer {
	float: right;
	margin: 0 0 0 25px;
}

#imageOfPart {
	float: right;
	margin: 0 0 15px 15px;
}

#imageOfProduct {
	float: right;
	margin: 0 0 15px 15px;
}

#imageOfBranch {
	float: right;
	margin: 0 0 15px 15px;
}

#imageOfMenu {
	float: right;
	margin: 0 0 15px 15px;
}

.offer-block-offer {
	border-radius: 80px;
	padding: 12px 5px;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 3em;
	color: #fff;
	position: absolute;
	bottom: 20px;
	right: 15px;
	z-index: 100;
	background-image: -webkit-linear-gradient(270deg,rgba(134,10,15,0.85) 0%,rgba(139,11,15,0.80) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(134,10,15,0.85) 0%,rgba(139,11,15,0.80) 100%);
	background-image: -o-linear-gradient(270deg,rgba(134,10,15,0.85) 0%,rgba(139,11,15,0.80) 100%);
	background-image: linear-gradient(180deg,rgba(134,10,15,0.85) 0%,rgba(139,11,15,0.80) 100%);
	border: 5px solid #DADAD9;
}

.offerItem {
	position: relative;
}

/***********PART********************/

.part-list {
	font-size: 1.4em;
}

.part-location-title {
	font-size: 1.5em;
}

/***********PRODUCT*****************/

.product-view-box {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0 0 15px 0;
	min-height: 180px;
}

.product-list-title {
	font-size: 2em;
}

.slider {

}

/*****************BOOTSTRAP CAROUSEL******************/

#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:4px;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:-32px;
}
.carousel-control.left {
	right:auto;
	left:-32px;
}
.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}

.item-container {
	padding: 5px;
	min-height: 240px;
	float: left;
}